<div class="sidebar">
  <div class="sidebar-top">
    <button type="button" class="sidebar-icon" title="Explorador">
      <img src="assets/icons/files.svg" alt="Explorador" />
    </button>
    <button type="button" class="sidebar-icon" title="Buscar">
      <img src="assets/icons/search.svg" alt="Buscar" />
    </button>
    <button type="button" class="sidebar-icon" title="Git">
      <img src="assets/icons/github-inverted.svg" alt="Git" />
    </button>
    <button type="button" class="sidebar-icon" title="Extensiones">
      <img src="assets/icons/extensions.svg" alt="Extensiones" />
    </button>
  </div>
  <div class="sidebar-bottom">
    <button type="button" class="sidebar-icon" title="Configuración">
      <img src="assets/icons/settings-gear.svg" alt="Configuración" />
    </button>
    <button type="button" class="sidebar-icon" title="Cuenta">
      <img src="assets/icons/account.svg" alt="Cuenta" />
    </button>
  </div>
</div>