.explorer {
  grid-area: explorer;
  height: 100%;
  background-color: var(--color-panel);
  padding: var(--editor-padding);
  border-right: 1px solid var(--color-border);
}

.file-tree {
  list-style: none;
  padding: 0 var(--editor-padding);
  font-size: var(--font-size-tree);
  color: var(--color-text);
}

.folder {
  cursor: pointer;
  -webkit-user-select: none;
    /* Safari, iOS */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge Legacy */
    user-select: none;
    /* Estándar moderno */
}

.folder-header {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  padding: 4px 0;
}

.arrow {
  width: var(--arrow-size);
  height: var(--arrow-size);
  transition: transform var(--transition-fast);
  margin-right: 4px;
}

.file-list {
  margin-left: 16px;
  display: none;
}

.folder.open .file-list {
  display: block;
}

.icon {
  width: var(--icon-size);
  height: var(--icon-size);
}